<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Amigos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card" *ngFor="let friend of friends">
    <ion-item>
      <ion-avatar slot="start" class="avatar-large">
        <img [src]="friend.img" />
      </ion-avatar>
      <ion-label class="label-large">
        <h2>{{ friend.name }}</h2>
      </ion-label>
      <ion-button slot="end" color="primary" (click)="openChat(friend.id)">Abrir chat</ion-button>
    </ion-item>
  </ion-card>
</ion-content>

<style>
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
  }

  ion-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .avatar-large {
    width: 70px;
    height: 70px;
  }

  .avatar-large img {
    border-radius: 50%;
  }

  .label-large h2 {
    font-size: 1.5em;
  }

  ion-button {
    margin-left: 1em;
  }
</style>