<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title [routerLink]="['/home']">Conéctate</ion-title>
    <ion-buttons slot="end">
      <ion-button href="/tabs/user-profile" fill="clear">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Usuario</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-crear">
  <ion-item>
    <ion-input style="margin: 2rem;" label="Título" label-placement="floating" fill="outline"
      placeholder="Escribe aquí el título"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input style="margin: 2rem;" label="Descripción" label-placement="floating" fill="outline"
      placeholder="Escribe aquí los detalles"></ion-input>
  </ion-item>

  <ion-item style="display: flex; width: 100vw;">
    <ion-label style="margin-left: 20vw;">Hacer público</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>


  <ion-list style="padding: 1rem;">
    <ion-badge *ngFor="let pill of pills; let i = index" style="margin: .2rem;" color="medium">
      <ion-label>{{pill}}</ion-label>
    </ion-badge>
    <div style="display: flex; gap: 1rem; align-items: center;">
      <ion-input [(ngModel)]="newPill" label="Añadir temas" labelPlacement="stacked" [clearOnEdit]="true"
        placeholder="Escribe un nuevo tema aquí">
      </ion-input>
      <span>
        <ion-button color="primary" size="small" (click)="addPill()">Añadir</ion-button>
      </span>
    </div>
  </ion-list>

  <ion-button color="primary" style="margin: 1rem; margin-left: 40vw;" [routerLink]="['/home']">Crear</ion-button>

  <div style="display: flex; justify-content: space-around; margin-bottom: 1rem;">
    <ion-buttons center>
      <ion-button fill="clear" shape="round" size="small"><ion-icon name="share-social"></ion-icon></ion-button>
      <ion-button fill="clear" shape="round" size="small"><ion-icon name="logo-twitter"></ion-icon></ion-button>
      <ion-button fill="clear" shape="round" size="small"><ion-icon name="logo-instagram"></ion-icon></ion-button>
    </ion-buttons>
  </div>
</ion-content>
